*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

nav {
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background: yellow;
}

nav .content-nav {
    display: flex;
    line-height: 2rem;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
}

nav .content-nav ul {
    display: flex;
}

nav .content-nav ul li a {
    text-decoration: none;
    color: #43433e;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 800;
}

nav .content-nav ul li a:hover {
    color: #fff;
}

nav .search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn1 {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn1:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn1 {
    transform: translateX(198px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
  
.modal-body {
    padding: 1rem;
}
  
.modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
}
  
.modal-footer>:not(:first-child) {
    margin-left: .25rem;
}
  
.btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}
  
.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
  
.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
  
.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}
  
h5.modal-title {
    font-size: 1.5rem;
}
  
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
#cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
}
  
#cart:hover {
    border-color: #fff;
}.slider_section {
    padding-top: 8%;
}
  
.slider_item-box {
    width: 100%;
    height: 100%;
}
  
.slider_item-box .container {
    height: 100%;
}
  
.slider_img-box {
    width: 85%;
    margin: 0 auto;
}
  
.slider_img-box img {
    width: 100%;
}
  
.slider_item-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
  
.slider_item-container .slider_item-detail {}
  
.slider-btn1 {
    @include hero_bt($cream, $white);
}   
  
.slider-btn2 {
    @include hero_bt($btnBlack, $white);
}
  
.slider_item-detail h1 {
    font-size: 68px;
    width: 95%;
    text-transform: uppercase;
}
  
.slider_item-detail p {
    margin: 45px 0;
}
  
.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
    height: 100%;
}
  
.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: #f2d8b9;
    transform: translateY(-50%);
}
  
.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
    background-color: #ffffff;
}
  
.slider_section .carousel-control-prev {
    left: 2%;
    background-image: url(../img/prev.png);
}
  
.slider_section .carousel-control-next {
    right: 2%;
    background-image: url(../img/next.png);
}