body {
    margin: auto;
    font-family: "Poppins", sans-serif;
    color: #000000;
    background-color: #ffffff;
}
.layout_padding {
    padding: 75px 0;
}
.custom_heading {
    text-transform: uppercase;
    font-weight: bold;
}

.text-center {
    text-align: center !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}


/* header section*/
.hero_area {
    margin: 0;
    height: 85vh;
    background-color: #b5caee;
}
/* .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
} */
.navbar-brand {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navbar-brand span {
    font-size: 20px;
    font-weight: 700;
    color: #191919;
    margin-top: 5px;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
    color: whitesmoke;
}
.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}
li{
    list-style: none;
}
nav {
    /* padding: 15px; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background: white;
}

/* Slider container */
.slideshow-container {
    max-width: 1025px;
    position: relative;
    margin: auto;
}
  
.mySlides {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* end slider */



nav .content-nav {
    display: flex;
    line-height: 2rem;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
}

nav .content-nav ul {
    display: flex;
}

nav .content-nav ul li a {
    text-decoration: none;
    color: #43433e;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 800;
}

nav .content-nav ul li a:hover {
    color: #fff;
}

nav .search {
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 30px;
    transition: width 0.3s ease;
}

.btn1 {
    /* padding-top: 15px; */
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn1:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    padding-top: 15px;
    width: 200px;
}

.search.active .btn1 {
    transform: translateX(198px);
}
/* end seach button */

/* shopping cart */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
  
.modal-body {
    padding: 1rem;
}
  
.modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
}
  
.modal-footer>:not(:first-child) {
    margin-left: .25rem;
}
  
.btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}
  
.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
  
.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
  
.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}
  
h5.modal-title {
    font-size: 1.5rem;
}
  
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
#cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
}
  
#cart:hover {
    border-color: #fff;
}
/* end shopping cart */

.bg {
    background-image: url(../img/bg_all.jpg);
    background-size: cover;
}

/* about section */
.about_section .row {
    align-items: center;
}
.about_detail-box p {
    margin-top: 30px;
    margin-bottom: 45px;
}
.about_detail-box a {
    display: inline-block;
    padding: 7px 25px;
    background-color: #252525;
    border: 1px solid #252525;
    color: #ffffff;
}
.about_detail-box a:hover {
    background-color: transparent;
    color: #252525;
}
.about_img-box img {
    width: 100%;
}
/* end about section */

/* brand section */
.brand_section {
    text-align: center;
    background-color: #c1dcf9;
}
.brand_section h3 {
    color: #fcfcfc;
}
.brand_section .brand_item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.brand_item-box {
    width: 265px;
    margin: 30px 10px 0 10px;
}
.brand_img-box {
    height: 310px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.brand_img-box.item-1 {
    background-image: url(../img/sp1.jpg);
}
.brand_img-box.item-2 {
    background-image: url(../img/sp2.jpg);
}
.brand_img-box.item-3 {
    background-image: url(../img/sp3.jpg);
}
.brand_img-box.item-4 {
    background-image: url(../img/sp4.jpg);
}
.brand_img-box.item-5 {
    background-image: url(../img/sp5.jpg);
}
.brand_img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.brand_img-box a {
    display: none;
    opacity: 0;
    background-color: transparent;
    border: 1px solid #999999;
    color: #f9fafa;
    padding: 12px 35px;
    font-size: 15px;
    z-index: 3;
    transition: opacity 0.4s;
}
.brand_img-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.9);
    z-index: 1;
    transform: translateY(320px);
    transition: transform 0.3s;
}
.brand_img-box:hover {
    cursor: pointer;
}
.brand_img-box:hover::before {
    transform: translateY(0);
}
.brand_img-box:hover a {
    display: inline-block;
    opacity: 1;
    text-decoration: none;
}
.brand_detail-box {
    margin-top: 20px;
}
.brand_detail-box h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #242425;
}
.brand_detail-box h5 span {
    color: #179dfb;
}
.brand_detail-box h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
/* end brand section */

/* why section */
.why_section .row {
    padding: 35px 0;
}
.why_section .row .col-md-6 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}
.why_section .img_box {
    min-width: 125px;
    min-height: 125px;
    margin-right: 25px;
    margin-bottom: 20px;
    border: 1.5px solid #e3e2e2;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.why_section .img_box img {
    width: 50px;
}
.why_section .detail_box h5 {
    font-weight: bold;
    color: #4b9df9;
}
/* end why section */

/* policy section */
.policy-container h1{
    text-align: center;
    color: yellow;

}
.policy-container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.promo-box{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 50px;
    column-gap: 50px;
    margin: 100px 100px;
    text-align: center;
    justify-content: center;
}
.promo-item{
    margin: 15px;
    display: flex;
    flex-direction: row;
    border: none;
    margin-right: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 2px #aaaaaa;
    background-color: white;
}
.icon,
.info{
    margin: 15px;
}
.info>span{
    color: red;
    font-weight: bold;
}
/* end policy section */

/* client section */
.client_section .row {
    padding: 25px 0;
}
.client_section .row .col-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.client_section .detail_box {
    min-width: 150px;
    margin-right: 25px;
    text-align: center;
}
.client_section .detail_box img {
    width: 100%;
}
.client_section .detail_box h5 {
    font-weight: bold;
}
.client_section .detail_box h6 {
    color: #0b3275;
}
.client_section .detail_box .name_box {
    margin-top: 15px;
}
.client_section .detail_text {
    padding-top: 10px;
}
.client_section #carouselExampleControls,
.client_section .carousel-inner,
.client_section .carousel-item {
    height: 100%;
}
.client_section .carousel-control-prev,
.client_section .carousel-control-next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 45px;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: #c1dcf9;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
    background-color: #f2d8b9;
  }
.client_section .carousel-control-prev {
    left: 2%;
    background-image: url(../img/prev.png);
}
.client_section .carousel-control-next {
    right: 2%;
    background-image: url(../img/next.png);
}
/* end client section */

/* countdown clock */
.timer {
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: transparent;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}
h1>strong{
    color: black;
}
#countdown ul li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}
#countdown ul li span {
    display: block;
    font-size: 4.5rem;
}
/* end countdown clock */

/* sale off section */
#sale_off{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.saleoff_section {
    color: #fff;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg_saleoff2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    justify-items: center;
}
.saleoff_section input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ffffff;
    height: 40px;
    padding-top: 45px;
    /* padding-bottom: 20px; */
    background-color: transparent;
    outline: none;
    color: #fff;
}
.saleoff_section input::placeholder {
    color: #fff;
}
.saleoff_section button {
    background-color: #179dfb;
    padding: 12px 55px;
    outline: none;
    border: none;
    border: 1px solid #179dfb;
    color: #fff;
}
.saleoff_section button:hover {
    color: #179dfb;
    background-color: transparent;
}
button,
input {
  overflow: visible;
}
/* end sale off section */

/* info section */
.info_section {
    background-color: #c1dcf9;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.info_items {
    width: 90%;
    margin: 0 ;
    display: flex;
    justify-content: space-between;
}
.info_items .item {
    margin-left: 40px;
    margin-right: 40px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info_items .item .img-box {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}
.info_items .item .detail-box {
    margin-top: 25px;
    color: black;
}
.info_items {
    position: relative;
}
.info_items a {
    position: relative;
    text-decoration: none;
}
.info_items::before {
    content: "";
    position: absolute;
    top: 25%;
    width: 80%;
    height: 1px;
    background-color: #fff;
    left: 55%;
    transform: translateX(-50%);
}
.info_items .item .img-box.box-1 {
    background-image: url(../img/location-blue.png);
 }
.info_items .item .img-box.box-2 {
    background-image: url(../img/telephone-blue.png);
}
.info_items .item .img-box.box-3 {
    background-image: url(../img/envelope-blue.png);
}
.info_items .item .img-box:hover {
    background-color: #179dfb;
}
.info_items .item .img-box:hover.box-1 {
    background-image: url(../img/location-white.png);
}
.info_items .item .img-box:hover.box-2 {
    background-image: url(../img/telephone-white.png);
}
.info_items .item .img-box:hover.box-3 {
    background-image: url(../img/envelope-white.png);
}
/* end info section */

/* footer section*/
.footer_section {
    background-color: #273135;
    padding: 20px;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}
.footer_section p {
    color: #fbfcfd;
    margin: 0;
    text-align: center;
}
/* end footer section*/
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}