/* *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #066acd;
}
.wrapper{
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#top{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}
h2{
    display: flex;
    justify-content: flex-start;
} */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: beige;
    padding: 20px;
    margin: auto;
}

.title {
    text-align: center;
    font-weight: bold;
    color: brown;
    margin-bottom: 10px;
    font-size: x-large;
}

label {
    font-size: small;
    font-weight: bold;
    color: grey;
    margin-bottom: 5px;
}

#task-name {
    margin-bottom: 20px;
}

#task-description {
    margin-bottom: 10px;
}

.buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btn {
    padding: 3px 20px 3px 20px;
    border: 0px;
    background-color: green;
    color: white;
    box-shadow: 3px 3px 3px rgb(1, 96, 1);
    border-radius: 5px;
}

.btn:hover {
    background-color: rgba(0, 128, 0, 0.833);
}

.btn-disabled {
    background-color: rgb(50, 55, 50);
    color: rgb(92, 86, 86);
    box-shadow: 3px 3px 3px rgb(74, 75, 74);
}

.btn-disabled:hover {
    background-color: rgba(50, 55, 50, 0.943);
}

.row {
    display: grid;
    grid-template-columns: 30% 40% 15% 15%;
}